.page1.wrapper
  .container
    .column.column__1x
      .title {{pages.page1.block1.title}}
      .text {{pages.page1.block1.text}}
    .column.column__1x.col2
      .description.n1
        .number 01
        .smallText {{pages.page1.block2.text1}}
      .description.n2
        .number 02
        .smallText {{pages.page1.block2.text2}}
      .description.n3
        .number 03
        .smallText {{pages.page1.block2.text3}}
    .column.column__2x.col3
      .description.n1
        .number 04
        .smallText {{pages.page1.block3.text1}}
      .description.n2
        .number 05
        .smallText {{pages.page1.block3.text2}}
      .description.n3
        .number 06
        .smallText {{pages.page1.block3.text3}}
      .description.n4
        .number 07
        .smallText {{pages.page1.block3.text4}}
      .description.n5
        .number 08
        .smallText {{pages.page1.block3.text5}}
  .bg-grid