.page2.wrapper
  .forSwipe
  .scrollContainer.swiper-no-swiping
    .scrollPart
      .column.column__1x.fix1
        .title {{pages.page2.block1.title}}
        .text {{pages.page2.block1.text}}
        img.icon-slide(src="img/objects/icon_slide.png")
      .img1
        img(src='img/objects/page2_1.png')
        .text.text1 {{pages.page2.block2.text1}}
        .text.text2 {{pages.page2.block2.text2}}
        .text.text3 {{pages.page2.block2.text2}}
        .text.text4 {{pages.page2.block2.text3}}
        .text.text5 {{pages.page2.block2.text2}}
        .text.text6 {{pages.page2.block2.text2}}
        .text.text7 {{pages.page2.block2.text4}}
        .text.text8 {{pages.page2.block2.text5}}
      .img2
        img(src='img/objects/page2_2.png')
        .text {{pages.page2.block3.text1}}
      .img3
        img(src='img/objects/page2_3.png')
        .text {{pages.page2.block3.text2}}
        .text {{pages.page2.block3.text3}}
  .bg-grid