// POPUPS
//.popupLifeSupport-close.popup-close(
//    v-bind:class="{ 'popup-close_active': this.modals.popupLifeSupport.active }"
//    v-on:click="closeModal('popupLifeSupport', false)"
//)

// SIDEBARS
//.structureSidebar1-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar1.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar2-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar2.active }"
//    v-on:click="closeModal('structureSidebar2', false)"
//)
//.structureSidebar3-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar3.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar4-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar4.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar5-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar5.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar6-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar6.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar7-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar7.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar8-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar8.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar9-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar9.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar10-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar10.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)
//.structureSidebar11-close.sidebar-close(
//    v-bind:class="{ 'sidebar-close_active': this.modals.structureSidebar11.active }"
//    v-on:click="closeModal('structureSidebar1', false)"
//)